// Theme variables

// Primary colors
$primary: #72A041; // theme main color
$primary-rgba: rgba(114, 160, 65, 0.5);
$primary-thin: #D5E172;
$primary-light: #A0BC4B;
$primary-bold: #4A5F2B;
$accent-color: #5bb3f5;

// body
$font-color: #171717;
$body-bg: #fff;

// Primary menu
$link-hover: #ededed;

// other color varieables
$white: #fff;
$black: #111;
$grey: #6D6D6D;
$section-bg: #f4f4f4;

// Opacity
$opacity: .87;
$opacity-light: .54;
$opacity-thin: .34;
$no-opacity: 1;


// Shadows
$dp2: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);

$dp3: 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 3px 3px -2px rgba(0, 0, 0, 0.2), 0 1px 8px 0 rgba(0, 0, 0, 0.12);

$dp4: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);

$dp6: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.2);

$dp8: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);

$dp16: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);

$dp24: 0 9px 46px 8px rgba(0, 0, 0, 0.14), 0 11px 15px -7px rgba(0, 0, 0, 0.12), 0 24px 38px 3px rgba(0, 0, 0, 0.2);

